<?xml version="1.0"?>
<model>
  <name>PX4-FLY Tracker Iris</name>
  <version>1.0</version>
  <sdf version='1.6'>tracker_iris.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    Tracker vehicle with a fixed forward RGB camera for the PX4-FLY dual-UAV scenario.
  </description>
</model>
