<?xml version="1.0"?>
<model>
  <name>PX4-FLY FPV Target</name>
  <version>1.0</version>
  <sdf version='1.6'>fpv_target.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    Camera-free target vehicle for the PX4-FLY dual-UAV training scenario.
  </description>
</model>
